<html lang="en">
<head>
  <title>Foraging Ants</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0"/>
  <link rel="icon" type="image/ico" href="./static/assets/favicon.ico"/>
</head>

<script src="./static/js/libraries/d3.v4.min.js"></script>
<script src="./static/js/libraries/d3-selection-multi.v1.min.js"></script>
<script src="./static/js/libraries/jquery-3.4.0.min.js"></script>

<script src="./static/js/libraries/popper.min.js"></script>
<script src="./static/js/libraries/bootstrap.min.js"></script>

<script src="./static/js/libraries/math.min.js"></script>
<script src="./static/js/libraries/plotly-latest.min.js"></script>

<link rel="stylesheet" href="./static/js/libraries/bootstrap.min.css">

<script src="./static/js/graph.js"></script>
<script src="./static/js/schematic.js"></script>
<script src="./static/js/index.js"></script>

<body>
    <div class="container-fluid"></div>

    <div class="text-center">
        <h4>Foraging Ants</h4>
    </div>

    <div class="row my-2 mx-2">
        <div id='size-div' class="col-md-6">
            <div style='position: relative; display: inline-block;'>
                <div> <svg id = 'background_layer'></svg> </div>
                <div style='position: absolute; top: 0; left: 0;'> <svg id = 'foreground_layer'></svg> </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="text-center">
                <span>Highlight: </span>
                <select id="focusAnt">
                    <option value="null">No Agent</option>
                    <option value="0">Agent 1</option>
                    <option value="1">Agent 2</option>
                    <option value="2">Agent 3</option>
                    <option value="3">Agent 4</option>
                    <option value="4">Agent 5</option>
                    <option value="5">Agent 6</option>
                    <option value="6">Agent 7</option>
                    <option value="7">Agent 8</option>
                    <option value="8">Agent 9</option>
                    <option value="9">Agent 10</option>
                </select>                
            </div>

            <div id="canvas-actions"></div>
            <div id="canvas-trips"></div>
        </div>
    </div>

    <div class="my-2 text-center">
        Index: <span id="index"></span>
    </div>

    <div class="my-2 mx-2 test-center">
        <input type="range" name="" id="time-slider" style="width: 100%;">
    </div>

    <div class="my-2 text-center">
        <button id='prv-btn' class="btn btn-primary">Prev</button>
        <button id='next-btn' class="btn btn-primary">Next</button>
        <span> | </span>
        <button class="btn btn-primary" onclick="play()">Play</button>
        <button class="btn btn-primary" onclick="stop()">Stop</button>
    </div>

</body>

<script>

    let params_flask = JSON.parse( '{{ params|safe }}' );
    let agents_flask = JSON.parse( '{{ agents|safe }}' );
    let world_homePher_flask = JSON.parse( '{{ world_homePher|safe }}' );
    let world_foodPher_flask = JSON.parse( '{{ world_foodPher|safe }}' );

    setup();

</script>